<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Michael Souček">

    <title>Faktografická aplikace | konfigurace</title>
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <div id="wrapper">

        <%- include ('./partials/navigation') %>
            <div id="content-wrapper" class="d-flex flex-column">

                <div id="content">
                    <div class="container-fluid">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Přehled všech vygenerovaných otázek</h1>
                        </div>

                        <div class="table-responsive">
                            
                            <p>Vygenerováno otázek celkem: <%= questionsCount %></p>

                            <p>"Město patřící do státu" typ - počet: <%= questionsType1Count %></p>
                            <p>"Hlavní město státu" typ - počet: <%= questionsType2Count %></p>
                            <p>"Nejvyšší hora" typ - počet: <%= questionsType3Count %></p>
                            <p>"Největší stát" typ - počet: <%= questionsType4Count %></p>
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th style="width:20%">Čas generování</th>
                                        <th style="width:40%">Otázka</th>
                                        <th style="width:40%">Možné odpovědi</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th style="width:20%">Čas generování</th>
                                        <th style="width:40%">Otázka</th>
                                        <th style="width:40%">Možné odpovědi</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <% for (var i = 0; i < questionsCount; i++) { %>

                                        <tr>
                                            <td><%= questions[i].generated %></td>
                                            <td><%= questions[i].question %></td>
                                            <td>
                                                <ul>
                                                    <% for (var j = 0; j < questions[i].answers.length; j++) { %>
                                                        <li>
                                                            <%= questions[i].answers[j].text %> 
                                                            <% if (questions[i].answers[j].isCorrect) { %>
                                                                (správná odpověď)
                                                            <% } %>
                                                        </li>
                                                     <% } %>   
                                                </ul>
                                            </td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <%- include ('./partials/footer') %>
            </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>
</body>

</html>